
//    Font Family

$title-font	: 'Poppins', sans-serif;
$text-font	: 'Roboto', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #8ac926;
$primary-color2	: #1982c4;
$title-color	: black;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #000;






