html {
  visibility: hidden;
}

button {
  cursor: pointer;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-medium {
  background: white;
  color: #73f28e;
}

.fa-youtube-square::before {
  content: "\f431";
  color: #bb0000;
}

.roboto {
  font-family: 'Roboto Condensed';
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.barlow {
  font-family: 'Barlow';
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}




/* Frequently Asked Questions Section
--------------------------------*/
#faq {
  padding-left: 30px;
  padding-right: 30px;
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 1px solid #ddd;
}

#faq #faq-list a {
  padding: 18px 0;
  display: block;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  line-height: 1;
  font-weight: 300;
  padding-right: 20px;
}

#faq #faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 16px;
}

#faq #faq-list p {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #faq #faq-list a {
    font-size: 18px;
  }

  #faq #faq-list i {
    top: 13px;
  }
}

#faq #faq-list a.collapse {
  color: #1dc8cd;
}

#faq #faq-list a.collapsed {
  color: #000;
}

#faq #faq-list a.collapsed i::before {
  content: "\f2c7" !important;
}

#faq a:hover {
  color: #1982c4;
}

#faq a {
  color: #8ac926;
}



// youtube video container

.yt-container {
  position: relative;
  width: 100%;
  padding: 30dp;
  height: 0;
  padding-bottom: 56.25%;
}

.yt-video {
  position: absolute;
  top: 0;
  left: 15px;
  width: 100%;
  height: 100%;
}


// newsletter
form {
  position: relative;
  display: block;
  height: 70px;
  border-radius: 5px;
  background: white;
  margin: 0 auto;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.28);
  overflow: hidden;
}

form input {
  line-height: 70px;
  padding: 0;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 300;
  background: #eee;
  letter-spacing: 0.02em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

form input:not([type=submit]) {
  width: 100%;
  display: block;
  padding: 0 150px 0 30px;
}

form input:not([type=email]) {
  position: absolute;
  height: 50px;
  line-height: 50px;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  padding: 0 25px;
  background: #1a82c4;
  color: white;
  cursor: pointer;
}

form input:not([type=email]):hover {
  background: #1a82c4;
}




// Text over image
.onClickTextOverImage {
  background-size: cover;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
}

.onClickTextOverImage span {
  position: absolute;
  color: #fff;
  padding: 8px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding-top: 10px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  font-size: 20px;
}

.onClickTextOverImage.show span {
  opacity: 1;
  padding-top: 18px;
  visibility: visible;
}


// box shadow
.box-shadow-logo {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 16px;
  border-radius: 10px;
}


// reset social media button focus
button:focus {
  outline: none;
}


// titlebox margin
@media (min-width: 992px) {
  #titlebox {
    margin-top: -104px;
  }
}