<!DOCTYPE html>
<html lang="en">
  <head>
	<meta property="og:image" content="{{ site.data.snippets.og_image_url[page.lang] }}" />
	<meta property="og:image:secure_url" content="{{ site.data.snippets.og_image_url[page.lang] }}" /> 
	<meta property="og:image:url" content="{{ site.data.snippets.og_image_url[page.lang] }}" /> 
	<meta property="og:image:type" content="image/png" /> 
	<meta property="og:image:width" content="764" />
	<meta property="og:image:height" content="400" />
	<meta property="og:url" content="{{ site.data.snippets.og_url[page.lang] }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ site.data.snippets.og_title[page.lang] }}" />
	<meta property="og:description" content="{{ site.data.snippets.og_description[page.lang] }}" />

	<link rel="apple-touch-icon" sizes="180x180" href="../../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../../img/favicon/site.webmanifest">
	<link rel="mask-icon" href="../../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

    <title>{{ site.data.snippets.title[page.lang] }} - {{ site.data.snippets.og_description[page.lang] }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/animate.css' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/css/owl.carousel.min.css' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | absolute_url }}">
	<link rel="stylesheet" href="{{ '/css/custom.css' | absolute_url }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">
			<img src="../../img/mp_logo.png" style="width: 80px; height: 64px;">
		  </a>
	      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu" style="font-size: 36px;">≡</span>
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
	          <!-- <li class="nav-item"><a href="#home-section" class="nav-link"><span>{{ site.data.snippets.section_home[page.lang] }}</span></a></li> -->
			  <li class="nav-item"><a href="#expertise-section" class="nav-link"><span>{{ site.data.snippets.section_expertise[page.lang] }}</span></a></li>
	          <li class="nav-item"><a href="#services-section" class="nav-link"><span>{{ site.data.snippets.section_services[page.lang] }}</span></a></li>
	          <li class="nav-item"><a href="#about-section" class="nav-link"><span>{{ site.data.snippets.section_about[page.lang] }}</span></a></li>
			  <li class="nav-item"><a href="#contact-section" class="nav-link"><span>{{ site.data.snippets.section_contact[page.lang] }}</span></a></li>
			  <li class="nav-item"><a href="{{ site.data.snippets.switch_lang_href[page.lang] }}" data-target="#home" class="nav-link"><span>{{ site.data.snippets.switch_lang[page.lang] }}</span></a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
	  <section id="home-section" class="hero">
		<div class="home-slider owl-carousel js-fullheight">
	      <div class="slider-item js-fullheight">
	      	<div class="overlay"></div>
	        <div class="container-fluid p-0">
	          <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
	          	<div id="main-image" class="one-third order-md-last img js-fullheight" style="background-image:url(/img/harbor-dock-cranes-hamburg-crane-vehicle-1602871-pxhere.com.jpg);">
	          		<div class="overlay"></div>
	          	</div>
		          <div class="one-forth d-flex align-items-center ftco-animate">
		          	<div class="text">
		          		<span class="subheading">{{ site.data.snippets.welcome[page.lang] }}</span>
			            <h1 class="mb-4 mt-3">{{ site.data.snippets.description[page.lang] }}</h1>
						<p>{{ site.data.snippets.welcome_description[page.lang] }}</p>			            
			            <p><a href="#contact-section" class="btn btn-primary px-5 py-3 mt-3">{{ site.data.snippets.contact_us[page.lang] }}</a></p>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div>
	    </div>
    </section>

	<section class="ftco-section ftco-no-pb ftco-no-pt ftco-services bg-light" id="expertise-section">
      <div class="container">
        <div class="row no-gutters">
			<div class="col-lg-12 order-lg-1 mb-5 mb-lg-0">
				<div class="container-fluid px-5">
					<br>
					<h3 class="font-alt" style="font-size: 28px;">{{ site.data.snippets.expertise_title[page.lang] }}</h3>
					<div class="row gx-5">
						<div class="col-lg-4 col-md-6 mb-3">
							<hr>
							<div>
								<i class="bi-arrow-repeat icon-feature text-gradient d-block mb-3"></i>
								<h3 class="font-alt">{{ site.data.snippets.expertise.devops[page.lang] }}</h3>
								<ul>
									<li>{{ site.data.snippets.expertise.iac[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.cicd[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.containerization[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.workflow_automation[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.sdlc[page.lang] }}</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-3">
							<hr>
							<div>
								<i class="bi-yin-yang icon-feature text-gradient d-block mb-3"></i>
								<h3 class="font-alt">{{ site.data.snippets.expertise.software_architecture[page.lang] }}</h3>
								<ul>
									<li>{{ site.data.snippets.expertise.cloud_architecture[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.web_architecture[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.open_source_integration[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.technical_assessment[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.data_engineering[page.lang] }}</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-3">
							<hr>
							<div>
								<i class="bi-journal-text icon-feature text-gradient d-block mb-3"></i>
								<h3 class="font-alt">{{ site.data.snippets.expertise.continuous_integration_delivery[page.lang] }}</h3>
								<ul>
									<li>{{ site.data.snippets.expertise.build_automation[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.e2e_test_pipelines[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.deployment_pipelines[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.pipeline_as_code[page.lang] }}</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-3">
							<hr>
							<div>
								<i class="bi-shield-check icon-feature text-gradient d-block mb-3"></i>
								<h3 class="font-alt">{{ site.data.snippets.expertise.infrastructure_automation[page.lang] }}</h3>
								<ul>
									<li>{{ site.data.snippets.expertise.release_management[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.reproducible_infrastructures[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.cloud_provisioning[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.containerized_infrastructures[page.lang] }}</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-3">
							<hr>
							<div>
								<i class="bi-cloud-upload icon-feature text-gradient d-block mb-3"></i>
								<h3 class="font-alt">{{ site.data.snippets.expertise.product_management[page.lang] }}</h3>
								<ul>
									<li>{{ site.data.snippets.expertise.product_design[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.mvp[page.lang] }}</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-3">
							<hr>
							<div>
								<i class="bi-safe icon-feature text-gradient d-block mb-3"></i>
								<h3 class="font-alt">{{ site.data.snippets.expertise.continuous_improvement[page.lang] }}</h3>
								<ul>
									<li>{{ site.data.snippets.expertise.cognitive_load[page.lang] }}</li>
									<li>{{ site.data.snippets.expertise.developer_experience[page.lang] }}</li>
								</ul>
							</div>
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
	  </div>
	</section>
		
    <section class="img ftco-section" id="services-section" style="background-image: url(/img/container-port.jpeg);">
    	<div class="container">
			<div class="row no-gutters">
				<div id="service-title" class="ftco-animate mt-md-3 col-md-6 col-xl-4" style="top: 150px;">
					<div class="text p-4 bg-primary">
						<h1 style="color: white; font-size: 28px; display: block; margin: 0 auto;">Services</h1>
					</div>
				</div>

			    <div class="col-md-1 col-xl-1"></div>

    			<div class="col-md-5 col-xl-7">
    				<div class="row">
    					<div class="col-md-12">
    						<a class="services-wrap ftco-animate">
    							<h2>{{ site.data.snippets.service_development[page.lang] }}</h2>
    							<p>{{ site.data.snippets.service_development_content[page.lang] }}</p>
    						</a>
    						<a class="services-wrap ftco-animate">
    							<h2>{{ site.data.snippets.service_personalized_support[page.lang] }}</h2>
    							<p>{{ site.data.snippets.service_personalized_support_content[page.lang] }}</p>
    						</a>
    						<a class="services-wrap ftco-animate">
    							<h2>{{ site.data.snippets.title_training[page.lang] }}</h2>
    							<p>{{ site.data.snippets.title_training_content[page.lang] }}</p>
    						</a>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

	<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" style="margin-top: 100px;" id="about-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-5 d-flex">
    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url(/img/bridge-metal.jpeg);">
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-7 pl-lg-5 py-5">
    				<div class="py-md-5">
	    				<div class="row justify-content-start pb-3">
			          <div class="col-md-12 heading-section ftco-animate">
			          	<span class="subheading">{{ site.data.snippets.about_title[page.lang] }}</span>
			            <h2 class="mb-4" style="font-size: 34px; text-transform: none;">{{ site.data.snippets.description[page.lang] }}</h2>
			            <p>{{ site.data.snippets.about_content[page.lang] }}</p>
			            <p>{{ site.data.snippets.about_content2[page.lang] }}</p>
						<p>{{ site.data.snippets.about_content3[page.lang] }}</p>
			          </div>
			        </div>
		          <div class="counter-wrap ftco-animate d-flex mt-md-3">
	              <div class="text p-4 bg-primary">
	              	<p class="mb-0">
		                <span>{{ site.data.snippets.proudly_from[page.lang] }}</span>
		                <span>{{ site.data.snippets.montreal[page.lang] }}</span>
	                </p>
	              </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
		

	<section class="ftco-section contact-section ftco-no-pb" style="margin-bottom: 100px;" id="contact-section">
      <div class="container">
        <div class="row no-gutters block-9">
          <div class="col-md-12 order-md-last d-flex">
			
            <form id="form-contact" action="https://getform.io/f/9ecaf4e1-e0de-4b8b-a3bf-5e17aaa88152" class="bg-light p-5 contact-form">
			  <input type="hidden" name="_gotcha" style="display:none !important">
			  <div class="heading-section text-center ftco-animate">
				<h2 class="mb-4">{{ site.data.snippets.contact_us[page.lang] }}</h2>
				<p>{{ site.data.snippets.contact_us_subtitle[page.lang] }}</p>
			  </div>
              <div class="form-group">
                <input id="form-name" name="name" type="text" class="form-control" placeholder="{{ site.data.snippets.contact_full_name[page.lang] }}" required>
              </div>
              <div class="form-group">
                <input id="form-email" name="email" type="text" class="form-control" placeholder="{{ site.data.snippets.contact_email[page.lang] }}" required>
              </div>
              <div class="form-group">
                <input id="form-subject" name="subject" type="text" class="form-control" placeholder="{{ site.data.snippets.contact_subject[page.lang] }}" required>
              </div>
              <div class="form-group">
                <textarea id="form-message" name="message" cols="30" rows="7" class="form-control" placeholder="{{ site.data.snippets.contact_project_info[page.lang] }}" required></textarea>
              </div>
              <!-- <div class="form-group"> -->
                <input type="submit" value="{{ site.data.snippets.send_message[page.lang] }}" class="btn btn-primary py-3 px-5" style="display: block; margin: 0 auto;">
              <!-- </div> -->
            </form>
          
          </div>
        </div>
      </div>
    </section>

    <footer class="ftco-footer ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">{{ site.data.snippets.title[page.lang] }}</h2>
              <p>{{ site.data.snippets.welcome_description[page.lang] }}</p>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">{{ site.data.snippets.contact_us[page.lang] }}</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">{{ site.data.snippets.email_contact[page.lang] }}</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
			<br><br>

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
&copy; <script>document.write(new Date().getFullYear());</script> Mathieu Provencher | This template is made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
	<script src="{{ 'js/jquery.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/jquery-migrate-3.0.1.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/bootstrap.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/jquery.waypoints.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/jquery.stellar.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/owl.carousel.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/aos.js' | absolute_url }}"></script>
	<script src="{{ 'js/jquery.animateNumber.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/scrollax.min.js' | absolute_url }}"></script>
	
	<script src="{{ 'js/main.js' | absolute_url }}"></script>
	<script src="{{ 'js/script.js' | absolute_url }}"></script>
		
	{% include cookie-consent.html %}
  </body>
</html>