<!DOCTYPE html>
<html lang="en">
  <head>
	<meta property="og:image" content="{{ site.data.snippets.og_image_url[page.lang] }}" />
	<meta property="og:image:secure_url" content="{{ site.data.snippets.og_image_url[page.lang] }}" /> 
	<meta property="og:image:url" content="{{ site.data.snippets.og_image_url[page.lang] }}" /> 
	<meta property="og:image:type" content="image/png" /> 
	<meta property="og:image:width" content="764" />
	<meta property="og:image:height" content="400" />
	<meta property="og:url" content="{{ site.data.snippets.og_url[page.lang] }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ site.data.snippets.og_title[page.lang] }}" />
	<meta property="og:description" content="{{ site.data.snippets.og_description[page.lang] }}" />

    <title>{{ site.data.snippets.title[page.lang] }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="{{ '/css/open-iconic-bootstrap.min.css' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/css/animate.css' | absolute_url }}">
    
    <link rel="stylesheet" href="{{ '/css/owl.carousel.min.css' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/css/owl.theme.default.min.css' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/css/magnific-popup.css' | absolute_url }}">

    <link rel="stylesheet" href="{{ '/css/aos.css' | absolute_url }}">

    <link rel="stylesheet" href="{{ '/css/ionicons.min.css' | absolute_url }}">
    
    <link rel="stylesheet" href="{{ '/css/flaticon.css' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/css/icomoon.css' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | absolute_url }}">
	<link rel="stylesheet" href="{{ '/css/custom.css' | absolute_url }}">
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
	  
	  
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">M<span>P</span></a>
	      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto" style="margin-left: {{ site.data.snippets.header_margin_left[page.lang] }} !important;">
	          <li class="nav-item"><a href="#home-section" class="nav-link"><span>{{ site.data.snippets.section_home[page.lang] }}</span></a></li>
			  <li class="nav-item"><a href="#expertise-section" class="nav-link"><span>{{ site.data.snippets.section_expertise[page.lang] }}</span></a></li>
	          <li class="nav-item"><a href="#services-section" class="nav-link"><span>{{ site.data.snippets.section_services[page.lang] }}</span></a></li>
	          <!-- <li class="nav-item"><a href="#projects-section" class="nav-link"><span>Projects</span></a></li> -->
			  <!-- <li class="nav-item"><a href="#work-section" class="nav-link"><span>{{ site.data.snippets.section_work_for_us[page.lang] }}</span></a></li> -->
	          <li class="nav-item"><a href="#about-section" class="nav-link"><span>{{ site.data.snippets.section_about[page.lang] }}</span></a></li>
			  <li class="nav-item"><a href="#contact-section" class="nav-link"><span>{{ site.data.snippets.section_contact[page.lang] }}</span></a></li>
			  <li class="nav-item"><a href="{{ site.data.snippets.switch_lang_href[page.lang] }}" data-target="#home" class="nav-link"><span>{{ site.data.snippets.switch_lang[page.lang] }}</span></a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
	  <section id="home-section" class="hero">
	  	<h3 class="vr">{{ site.data.snippets.title[page.lang] }}</h3>
		  <div class="home-slider js-fullheight owl-carousel">
	      <div class="slider-item js-fullheight">
	      	<div class="overlay"></div>
	        <div class="container-fluid p-0">
	          <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
	          	<div id="main-image" class="one-third order-md-last img js-fullheight" style="background-image:url(/img/harbor-dock-cranes-hamburg-crane-vehicle-1602871-pxhere.com.jpg);">
	          		<div class="overlay"></div>
	          	</div>
		          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          	<div class="text">
		          		<span class="subheading">{{ site.data.snippets.welcome[page.lang] }}</span>
			            <h1 class="mb-4 mt-3">{{ site.data.snippets.description[page.lang] }}</h1>
						<p>{{ site.data.snippets.welcome_description[page.lang] }}</p>			            
			            <p><a href="#contact-section" class="btn btn-primary px-5 py-3 mt-3">{{ site.data.snippets.contact_us[page.lang] }}</a></p>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div>

	      <!-- <div class="slider-item js-fullheight">
	      	<div class="overlay"></div>
	        <div class="container-fluid p-0">
	          <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
	          	<div class="one-third order-md-last img js-fullheight" style="background-image:url(images/bg_2.jpg);">
	          		<div class="overlay"></div>
	          	</div>
		          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          	<div class="text">
		          		<span class="subheading">{{ site.data.snippets.title[page.lang] }}</span>
			            <h1 class="mb-4 mt-3"><span>Strategic</span> Design And <span>Technology</span> Agency</h1>
			            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>
			            
			            <p><a href="#" class="btn btn-primary px-5 py-3 mt-3">Get in touch</a></p>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div> -->
	    </div>
    </section>
		

    <section class="ftco-section ftco-no-pb ftco-no-pt ftco-services bg-light" id="expertise-section">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4 ftco-animate py-5 nav-link-wrap">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link px-4 active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true"><span class="mr-3 flaticon-ideas"></span> {{ site.data.snippets.title_iac[page.lang] }}</a>

              <a class="nav-link px-4" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false"><span class="mr-3 flaticon-flasks"></span> {{ site.data.snippets.title_sdlc[page.lang] }}</a>

              <a class="nav-link px-4" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false"><span class="mr-3 flaticon-analysis"></span> {{ site.data.snippets.title_cicd[page.lang] }}</a>

			  <a class="nav-link px-4" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false"><span class="mr-3 flaticon-innovation"></span> {{ site.data.snippets.title_container[page.lang] }}</a>

			  <a class="nav-link px-4" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-6" role="tab" aria-controls="v-pills-6" aria-selected="false"><span class="mr-3 flaticon-innovation"></span> {{ site.data.snippets.title_devops[page.lang] }}</a>
			</div>
          </div>
          <div class="col-md-8 ftco-animate p-4 p-md-5 d-flex align-items-center">
            
            <div class="tab-content pl-md-5" id="v-pills-tabContent">
			  <div class="col-md-12 heading-section ftco-animate">
				<span class="subheading">Expertise</span>
			  </div>

              <div class="tab-pane fade show active py-5" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                <span class="icon mb-3 d-block flaticon-ideas"></span>
                <h2 class="mb-4">{{ site.data.snippets.description_iac[page.lang] }}</h2>
				<p>{{ site.data.snippets.description_iac_content[page.lang] }}</p>
				<p>{{ site.data.snippets.description_iac_content2[page.lang] }}</p>
                <br><p><a href="#contact-section" class="btn btn-primary px-4 py-3">{{ site.data.snippets.contact_us[page.lang] }}</a></p>
              </div>

              <div class="tab-pane fade py-5" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                <span class="icon mb-3 d-block flaticon-flasks"></span>
                <h2 class="mb-4">{{ site.data.snippets.description_sdlc[page.lang] }}</h2>
				<p>{{ site.data.snippets.description_sdlc_content[page.lang] }}</p>
				<p>{{ site.data.snippets.description_sdlc_content2[page.lang] }}</p>
                <br><p><a href="#contact-section" class="btn btn-primary px-4 py-3">{{ site.data.snippets.contact_us[page.lang] }}</a></p>
              </div>

              <div class="tab-pane fade py-5" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                <span class="icon mb-3 d-block flaticon-analysis"></span>
                <h2 class="mb-4">{{ site.data.snippets.description_cicd[page.lang] }}</h2>
				<p>{{ site.data.snippets.description_cicd_content[page.lang] }}</p>
				<p>{{ site.data.snippets.description_cicd_content2[page.lang] }}</p>
                <br><p><a href="#contact-section" class="btn btn-primary px-4 py-3">{{ site.data.snippets.contact_us[page.lang] }}</a></p>
              </div>

			  <div class="tab-pane fade py-5" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab">
                <span class="icon mb-3 d-block flaticon-innovation"></span>
                <h2 class="mb-4">{{ site.data.snippets.description_container[page.lang] }}</h2>
				<p>{{ site.data.snippets.description_container_content[page.lang] }}</p>
				<p>{{ site.data.snippets.description_container_content2[page.lang] }}</p>
                <br><p><a href="#contact-section" class="btn btn-primary px-4 py-3">{{ site.data.snippets.contact_us[page.lang] }}</a></p>
              </div>

              <div class="tab-pane fade py-5" id="v-pills-6" role="tabpanel" aria-labelledby="v-pills-6-tab">
                <span class="icon mb-3 d-block flaticon-innovation"></span>
                <h2 class="mb-4">{{ site.data.snippets.description_devops[page.lang] }}</h2>
				<p>{{ site.data.snippets.description_devops_content[page.lang] }}</p>
				<p>{{ site.data.snippets.description_devops_content2[page.lang] }}</p>
                <br><p><a href="#contact-section" class="btn btn-primary px-4 py-3">{{ site.data.snippets.contact_us[page.lang] }}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section-2 img" style="background-image: url(/img/container-port.jpg);" id="services-section">
    	<div class="container">
			<div class="row no-gutters">
				<div class="counter-wrap ftco-animate mt-md-3 col-md-4" style="position: absolute; top: 150px; padding-left: 0px;">
					<div class="text p-4 bg-primary">
						<h1 style="color: white; font-size: 28px; display: block; margin: 0 auto">Services</h1>
					</div>
				</div>
			</div>

    		<div class="row d-md-flex justify-content-end">
    			<div class="col-md-6">
    				<div class="row">
    					<div class="col-md-12">
    						<a class="services-wrap ftco-animate">
    							<!-- <div class="icon d-flex justify-content-center align-items-center">
    								<span class="ion-ios-arrow-back"></span>
    								<span class="ion-ios-arrow-forward"></span>
    							</div> -->
    							<h2>{{ site.data.snippets.service_development[page.lang] }}</h2>
    							<p>{{ site.data.snippets.service_development_content[page.lang] }}</p>
    						</a>
    						<a class="services-wrap ftco-animate">
    							<!-- <div class="icon d-flex justify-content-center align-items-center">
    								<span class="ion-ios-arrow-back"></span>
    								<span class="ion-ios-arrow-forward"></span>
    							</div> -->
    							<h2>{{ site.data.snippets.service_personalized_support[page.lang] }}</h2>
    							<p>{{ site.data.snippets.service_personalized_support_content[page.lang] }}</p>
    						</a>
    						<a class="services-wrap ftco-animate">
    							<!-- <div class="icon d-flex justify-content-center align-items-center">
    								<span class="ion-ios-arrow-back"></span>
    								<span class="ion-ios-arrow-forward"></span>
    							</div> -->
    							<h2>{{ site.data.snippets.title_training[page.lang] }}</h2>
    							<p>{{ site.data.snippets.title_training_content[page.lang] }}</p>
    						</a>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <!-- <section class="ftco-section ftco-project bg-light" id="projects-section">
    	<div class="container px-md-5">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Accomplishments</span>
            <h2 class="mb-4">Our Projects</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12 testimonial">
            <div class="carousel-project owl-carousel">
            	<div class="item">
            		<div class="project">
		    					<div class="img">
				    				<img src="images/project-1.jpg" class="img-fluid" alt="Colorlib Template">
				    				<div class="text px-4">
				    					<h3><a href="#">Work Name</a></h3>
				    					<span>Web Design</span>
				    				</div>
			    				</div>
		    				</div>
            	</div>
            	<div class="item">
            		<div class="project">
		    					<div class="img">
				    				<img src="images/project-2.jpg" class="img-fluid" alt="Colorlib Template">
				    				<div class="text px-4">
				    					<h3><a href="#">Work Name</a></h3>
				    					<span>Web Design</span>
				    				</div>
			    				</div>
		    				</div>
            	</div>
            	<div class="item">
            		<div class="project">
		    					<div class="img">
				    				<img src="images/project-3.jpg" class="img-fluid" alt="Colorlib Template">
				    				<div class="text px-4">
				    					<h3><a href="#">Work Name</a></h3>
				    					<span>Web Design</span>
				    				</div>
			    				</div>
		    				</div>
            	</div>
            	<div class="item">
            		<div class="project">
		    					<div class="img">
				    				<img src="images/project-4.jpg" class="img-fluid" alt="Colorlib Template">
				    				<div class="text px-4">
				    					<h3><a href="#">Work Name</a></h3>
				    					<span>Web Design</span>
				    				</div>
			    				</div>
		    				</div>
            	</div>
            	<div class="item">
            		<div class="project">
		    					<div class="img">
				    				<img src="images/project-5.jpg" class="img-fluid" alt="Colorlib Template">
				    				<div class="text px-4">
				    					<h3><a href="#">Work Name</a></h3>
				    					<span>Web Design</span>
				    				</div>
			    				</div>
		    				</div>
            	</div>
            	<div class="item">
            		<div class="project">
		    					<div class="img">
				    				<img src="images/project-6.jpg" class="img-fluid" alt="Colorlib Template">
				    				<div class="text px-4">
				    					<h3><a href="#">Work Name</a></h3>
				    					<span>Web Design</span>
				    				</div>
			    				</div>
		    				</div>
            	</div>
            </div>
          </div>
    		</div>
    	</div>
    </section> -->

	<!-- <section class="ftco-section work-section ftco-no-pb" style="margin-bottom: 100px;" id="work-section">
      <div class="container">
        <div class="row no-gutters block-9">
          <div class="col-md-12 order-md-last d-flex">
			
            <form id="form-work" onsubmit="sendForm()" class="bg-light p-5 work-form">
			  <div class="heading-section text-center ftco-animate">
				<span class="subheading">{{ site.data.snippets.title[page.lang] }}</span>
				<h2 class="mb-4">{{ site.data.snippets.work_for_us[page.lang] }}</h2>
				<p>{{ site.data.snippets.work_for_us_content[page.lang] }}</p>
			</div>
              <div class="form-group">
                <input id="form-name" type="text" class="form-control" placeholder="Full Name" required>
              </div>
              <div class="form-group">
                <input id="form-email" type="text" class="form-control" placeholder="Email" required>
              </div>
              <div class="form-group">
				<p>Tell us about the area of expertise in which you are proficient</p>
				
    			<div class="row">
					<div class="col-md-4 col-lg-4">
						<input type="checkbox" id="infra_eng_arch" name="infra_eng_arch" value="infra_eng_arch">
						<label for="infra_eng_arch"> Infrastructure Engineering & Architecture</label><br>
						<input type="checkbox" id="infra_dev" name="infra_dev" value="infra_dev">
						<label for="infra_dev"> Infrastructure Development</label><br>
						<input type="checkbox" id="sw_eng_arch" name="sw_eng_arch" value="sw_eng_arch">
						<label for="sw_eng_arch"> Software Engineering & Architecture</label><br>
						<input type="checkbox" id="sw_dev" name="sw_dev" value="sw_dev">
						<label for="sw_dev"> Software Development</label><br>
					</div>
					<div class="col-md-4 col-lg-4">
						<input type="checkbox" id="rel_deploy_mgmt" name="rel_deploy_mgmt" value="rel_deploy_mgmt">
						<label for="rel_deploy_mgmt"> Release & Deployment Management</label><br>
						<input type="checkbox" id="cicd_design" name="cicd_design" value="cicd_design">
						<label for="cicd_design"> CI/CD Pipeline Design</label><br>
						<input type="checkbox" id="cloud_arch" name="cloud_arch" value="cloud_arch">
						<label for="cloud_arch"> Cloud Architecture</label><br>
						<input type="checkbox" id="cloud_dev" name="cloud_dev" value="cloud_dev">
						<label for="cloud_dev"> Cloud Development</label><br>
					</div>
					<div class="col-md-4 col-lg-4">
						<input type="checkbox" id="autom_dev" name="autom_dev" value="autom_dev">
						<label for="autom_dev"> Automation Development</label><br>
						<input type="checkbox" id="cont_improv" name="cont_improv" value="cont_improv">
						<label for="cont_improv"> Continuous Improvement</label><br>
						<input type="checkbox" id="train_coach" name="train_coach" value="train_coach">
						<label for="train_coach"> Training & Coaching</label><br>
					</div>
				</div>

              </div>
              <div class="form-group">
                <textarea id="form-message" cols="30" rows="7" class="form-control" placeholder="Tell us about about you and your interests" required></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5" style="display: block; margin: 0 auto;">
              </div>
            </form>
          
          </div>
        </div>
      </div>
    </section> -->


	<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" style="margin-top: 100px;" id="about-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-5 d-flex">
    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url(/img/building-wireframe.webp);">
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-7 pl-lg-5 py-5">
    				<div class="py-md-5">
	    				<div class="row justify-content-start pb-3">
			          <div class="col-md-12 heading-section ftco-animate">
			          	<span class="subheading">{{ site.data.snippets.about_title[page.lang] }}</span>
			            <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">{{ site.data.snippets.description[page.lang] }}</h2>
			            <p>{{ site.data.snippets.about_content[page.lang] }}</p>
			            <p>{{ site.data.snippets.about_content2[page.lang] }}</p>
						<p>{{ site.data.snippets.about_content3[page.lang] }}</p>
			          </div>
			        </div>
		          <div class="counter-wrap ftco-animate d-flex mt-md-3">
	              <div class="text p-4 bg-primary">
	              	<p class="mb-0">
		                <span>Proudly From</span>
		                <span>Montreal, Canada</span>
	                </p>
	              </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
		

	<section class="ftco-section contact-section ftco-no-pb" style="margin-bottom: 100px;" id="contact-section">
      <div class="container">
      	<!-- <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Contact</span>
            <h2 class="mb-4">Contact Us</h2>
            <p>Tell us about your project and we will get in touch with you as soon as possible.</p>
          </div>
        </div> -->
        <div class="row no-gutters block-9">
          <div class="col-md-12 order-md-last d-flex">
			
            <form id="form-contact" onsubmit="sendForm()" class="bg-light p-5 contact-form">
			  <div class="heading-section text-center ftco-animate">
				<span class="subheading">Contact</span>
				<h2 class="mb-4">Contact Us</h2>
				<p>Tell us about your project and we will get in touch with you as soon as possible.</p>
			</div>
              <div class="form-group">
                <input id="form-name" type="text" class="form-control" placeholder="Full Name" required>
              </div>
              <div class="form-group">
                <input id="form-email" type="text" class="form-control" placeholder="Email" required>
              </div>
              <div class="form-group">
                <input id="form-subject" type="text" class="form-control" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea id="form-message" cols="30" rows="7" class="form-control" placeholder="Project information" required></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5" style="display: block; margin: 0 auto;">
              </div>
            </form>
          
          </div>
        </div>
      </div>
    </section>


    <!-- <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-6 heading-section text-center ftco-animate">
          	<span class="subheading">About Us</span>
            <h2 class="mb-4">Our Staff</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
        <div class="row">
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(images/staff-1.jpg);"></div>
							</div>
							<div class="text d-flex align-items-center pt-3 text-center">
								<div>
									<h3 class="mb-2">Lloyd Wilson</h3>
									<span class="position mb-4">CEO, Founder</span>
									<div class="faded">
										<ul class="ftco-social text-center">
			                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
			                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
			                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
			                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
			              </ul>
		              </div>
		            </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(images/staff-2.jpg);"></div>
							</div>
							<div class="text d-flex align-items-center pt-3 text-center">
								<div>
									<h3 class="mb-2">Rachel Parker</h3>
									<span class="position mb-4">Web Designer</span>
									<div class="faded">
										<ul class="ftco-social text-center">
			                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
			                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
			                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
			                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
			              </ul>
		              </div>
		            </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(images/staff-3.jpg);"></div>
							</div>
							<div class="text d-flex align-items-center pt-3 text-center">
								<div>
									<h3 class="mb-2">Ian Smith</h3>
									<span class="position mb-4">Web Developer</span>
									<div class="faded">
										<ul class="ftco-social text-center">
			                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
			                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
			                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
			                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
			              </ul>
		              </div>
		            </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(images/staff-4.jpg);"></div>
							</div>
							<div class="text d-flex align-items-center pt-3 text-center">
								<div>
									<h3 class="mb-2">Alicia Henderson</h3>
									<span class="position mb-4">Graphic Designer</span>
									<div class="faded">
										<ul class="ftco-social text-center">
			                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
			                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
			                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
			                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
			              </ul>
		              </div>
		            </div>
							</div>
						</div>
					</div>
				</div>
    	</div>
    </section> -->
		

    <footer class="ftco-footer ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">{{ site.data.snippets.title[page.lang] }}</h2>
              <p>{{ site.data.snippets.welcome_description[page.lang] }}</p>
              <!-- <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
              </ul> -->
            </div>
          </div>
          <!-- <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Services</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Projects</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
              </ul>
            </div>
          </div> -->
          <!-- <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Services</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Web Design</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Web Development</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Business Strategy</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Data Analysis</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Graphic Design</a></li>
              </ul>
            </div>
          </div> -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Question?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <!-- <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li> -->
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">{{ site.data.snippets.email_contact[page.lang] }}</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
			<br><br>

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


	<script src="{{ 'js/jquery.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/jquery-migrate-3.0.1.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/popper.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/bootstrap.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/jquery.easing.1.3.js' | absolute_url }}"></script>
	<script src="{{ 'js/jquery.waypoints.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/jquery.stellar.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/owl.carousel.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/jquery.magnific-popup.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/aos.js' | absolute_url }}"></script>
	<script src="{{ 'js/jquery.animateNumber.min.js' | absolute_url }}"></script>
	<script src="{{ 'js/scrollax.min.js' | absolute_url }}"></script>
	
	<script src="{{ 'js/main.js' | absolute_url }}"></script>
	<script src="{{ 'js/script.js' | absolute_url }}"></script>
		
	{% include cookie-consent.html %}
  </body>
</html>