
// html {
//     background-color: red !important;
//     background: red !important;
//     color: red !important;
// }

#main-image {
    background-image: url('{{ harbor-dock-cranes-hamburg-crane-vehicle-1602871-pxhere.com.jpg | absolute_url }}');
}

@media (max-width: 768px) {
    #service-title {
        display: none;
    }
}



.font-alt {
    text-transform: uppercase;
    font-size: 18px;
    color: #1a6614;
    font-weight: bold;
}

ul > li {
    color: black;
}